.btn-logo {
    background-color: #f87661;
    padding: 8px 23px;
    font-weight: 700;
    color: white;
    font-size: 14px;
    line-height: 20px;
    margin-right: 10px;
}

.btn-enter {
    background-color: transparent;
    border: 2px solid #f87661;
    padding: 8px 23px;
    font-weight: 700;
    color: #f87661;
    font-size: 14px;
    line-height: 20px;
}
