.card-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.pet-img {
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
    width: 95%;
}

.card-wrapper {
    background-color: #d9e4e2;
    border-radius: 20px;
    padding: 24px 30px;
    display: flex;
    flex-direction: column;
    /*align-items: left;*/
    justify-content: space-between;
}

.card-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card-left {
    width: 55%;
}
.card-right {
    display: flex;
    flex-direction: column;
    width: 43%;
}

.tags {
    display: flex;
    align-items: center;
}

.card-tag-name {
    margin-right: 10px;
}

.card-tag {
    background-color: #f87661;
    color: white;
    border-radius: 3px;
    padding: 3px 5px;
    height: 20px;
    display: flex;
    align-items: center;
    border: none;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts > a {
    cursor: pointer;
}

.contacts > img {
    width: 30px;
    margin-right: 5px;
}

.card-map {
    background-color: #f87661;
    padding: 8px 23px;
    font-weight: 700;
    color: white;
    font-size: 14px;
    line-height: 20px;
    margin-right: 10px;
}

@media screen and (max-width: 480px) {
    .card-top {
        flex-wrap: wrap;
    }
    .card-left {
        width: 100%;
    }
    .card-left > img {
        width: 100%;
    }
    .card-section {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
    .card-right {
        width: 100%;
        margin-top: 20px;
    }
}
