.page_404 {
    padding: 40px 0;
}

.four_zero_four_bg h1 {
    font-size: 80px;
    margin-bottom: 50px;
}

.btn-home {
    background-color: #f87661;
    padding: 8px 23px;
    font-weight: 700;
    color: white;
    font-size: 14px;
    line-height: 20px;
    margin-top: 50px;
}
